* {
  font-family: "ilanaFont3";
}

html {
  color: red;
  background-image: url("./components/Images/homePage_scenary.png");
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  flex-direction: column;
  margin-bottom: 60px;
  box-sizing: border-box;
}

@font-face {
  font-family: "ilanaFont2";
  src: url(./components/fonts/ButterflyKidsRegular.ttf);
  font-display: swap;
}

@font-face {
  font-family: "ilanaFont";
  src: url(./components/fonts/LondrinaSketchRegular.ttf);
  font-display: swap;
}
@font-face {
  font-family: "ilanaFont3";
  src: url(./components/fonts/MyKids.ttf);
  font-display: swap;
}
